---
---

<footer class="w-full max-w-6xl mt-24 pt-8 pb-4 border-t border-base-content/5 flex items-center justify-center text-base-content/40 text-sm font-medium">
  <p class="flex items-center gap-1.5">
    Built with <span class="icon-[mdi--cards-heart] text-primary/70 text-lg"></span> by 
    <a href="https://andresrengifo.com" target="_blank" class="hover:text-primary transition-colors font-bold text-base-content/70">
      Andrés Rengifo
    </a>
  </p>
</footer>
